*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.08rem;
    text-align: center;
    background-color: rgb(222, 227, 212);
}
nav{
    padding: 20px;
    margin: auto;
    background:linear-gradient(to left,rgb(227, 98, 98),rgb(110, 205, 110),hotpink,rgb(79, 79, 135));
    width: 100%;
    text-align: center;
}
a{
    padding: 10px;
    color: cadetblue;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
img{
  margin-top: 30px;
  border-radius: 20px;
}
.maize,.beans,.tomato,.potato,.coffee,.tea,.rice{
  flex: 1 1 300px;
  border: 2px solid goldenrod;
  border-radius: 20px;
  padding: 20px;
}
#container{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
p{
  margin-top: 20px;
}
footer{
  margin-top: 30px;
    text-align: center;
    padding: 10px;
    position: relative;
    background-color: cornflowerblue;
    width: 100%;
    border-radius: 20px;
    justify-items: center;
    margin: auto;
}