*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.08rem;
}
nav{
    padding: 30px;
    margin: auto;
    background:linear-gradient(to left,rgb(227, 98, 98),rgb(110, 205, 110),hotpink,rgb(79, 79, 135));
    width: 100%;
    text-align: center;
}
a{
    padding: 10px;
    color: cadetblue;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: rgb(20, 26, 208);
  border-radius: 20px;
}

/* selected link */
a:active {
  color: blue;
}
footer{
    text-align: center;
    padding: 10px;
    position: relative;
    background-color: cornflowerblue;
    width: 90%;
    border-radius: 20px;
    justify-items: center;
    margin: auto;
}
h1{
  text-align: center;
  margin-top: 30px;
}
h3{
  font-size: 20px;
}
p{
  margin: auto;
  text-align: center;
  margin-top: 30px;
  color: rgb(41, 6, 78);
  font: 1.5em;
}
#buttons{
  text-align: center;
  margin: auto;
  justify-content: center;
  margin-top: 30px;
}
button{
  padding: 20px;
  border-radius: 20px;
  margin-right: 40px;
 
}
button:hover{
  width: 200px;
  background-color: cornflowerblue;
  transition: width 2s,background-color 2s;
}
/* trying the animation seems cool  */
@keyframes button{
  0%{background-color: red;}
  25%{background-color: yellow;}
  50%{background-color: blue;}
  100%{background-color: greenyellow;}
}
#maize,#beans,#potatoes,#tomatoes,#rice,#coffee,#tea{
  text-align: center;
  padding: 20px;
  flex: 1 ,1 ,300px;
  border: 2px solid grey;
  max-width: 500px;
  border-radius: 20px;
  opacity: 1;
  background:linear-gradient(to right,rgb(227, 182, 98),rgb(119, 220, 119),rgb(31, 162, 202));
}
#container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}
h2{
  text-align: center;
  margin-top: 30px;
}
img{
  width:auto;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  margin-top: 20px;
}
#maize:hover{
  background:linear-gradient(to right,rgb(227, 182, 98),rgb(119, 220, 119),rgb(31, 162, 202));
}
#beans:hover{
   background:linear-gradient(to right,rgb(227, 182, 98),rgb(119, 220, 119),rgb(31, 162, 202));
}
#tomatoes:hover{
  background:linear-gradient(to right,rgb(227, 182, 98),rgb(119, 220, 119),rgb(31, 162, 202));
}
#potatoes:hover{
   background:linear-gradient(to right,rgb(227, 182, 98),rgb(119, 220, 119),rgb(31, 162, 202));
}
#rice:hover{
  background:linear-gradient(to right,rgb(227, 182, 98),rgb(119, 220, 119),rgb(31, 162, 202));
}
#coffee:hover{
   background:linear-gradient(to right,rgb(227, 182, 98),rgb(119, 220, 119),rgb(31, 162, 202));
}
#tea:hover{
   background:linear-gradient(to right,rgb(227, 182, 98),rgb(119, 220, 119),rgb(31, 162, 202));
}

/* #live-alerts{
  text-align: center;
  margin: auto;
  margin-top: 20px;
  color: blueviolet;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1 ,1 ,300px;
  font-size: 1.2em;
} */
.ticker {
  width: 100%;
  overflow: hidden;
  background: black;
  color: white;
  padding: 12px 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.ticker-track {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.ticker-content {
  white-space: nowrap;
  padding-right: 50px; /* space between loops */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
video{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
  position: fixed;
  opacity: 0.8;
}