*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.08rem;
    text-align: center;
}
nav{
    padding: 20px;
    margin: auto;
    background:linear-gradient(to left,rgb(227, 98, 98),rgb(110, 205, 110),hotpink,rgb(79, 79, 135));
    position: relative;
    width: 100%;
    text-align: center;
}
a{
    padding: 10px;
    color: cadetblue;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: purple;
}

/* selected link */
a:active {
  color: blue;
}
h2{
  margin-top: 20px;
  margin-bottom: 20px;
  color: dimgray;
}
h3{
  color: aqua;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
h4{
  color: aqua;
  font-size: 15px;
  margin: 20px;
}
p{
  color: rgb(54, 148, 192);
}
.crop-section{
  flex: 1 1 300px;
  padding: 20px;
  border: 1px solid fuchsia;
  border-radius: 20px;
  width: 100%;
 
}
#crop-diseases{
  display: flex;
  flex-wrap: wrap;
   gap: 30px;
   margin-bottom: 30px;
}
img{
  border-radius: 20px;
  margin-top: 10px;
}
img:hover{
  width: 300px;
  transition:width 2s;
}
video{
  top: 0;
  left: 0;
  border-radius: 20px;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
footer{
    text-align: center;
    padding: 10px;
    position: relative;
    background-color: rgb(43, 92, 182);
    width: 100%;
    border-radius: 20px;
    justify-items: center;
    margin: auto;
}