*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.08rem;
}
nav{
    padding: 20px;
    margin: auto;
    background:linear-gradient(to left,rgb(227, 98, 98),rgb(110, 205, 110),hotpink,rgb(79, 79, 135));
    position: fixed;
    width: 100%;
    text-align: center;
}
a{
    padding: 10px;
    color: cadetblue;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
  background-color: aliceblue;
  border-radius: 20px;
}

/* selected link */
a:active {
  color: blue;
}
footer{
    text-align: center;
    padding: 10px;
    position: relative;
    background-color: cornflowerblue;
    width: 90%;
    border-radius: 20px;
    justify-items: center;
    margin: auto;
}