*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.08rem;
    text-align: center;
    background-color: aqua;
}
nav{
    padding: 20px;
    margin: auto;
    background:linear-gradient(to left,rgb(227, 98, 98),rgb(110, 205, 110),hotpink,rgb(79, 79, 135));
    width: 100%;
    text-align: center;
}
a{
    padding: 10px;
    color: cadetblue;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: purple;
}

/* selected link */
a:active {
  color: blue;
}
h1{
  margin: 20px;
  color: purple;
}
h2{
  margin: 20px;
  color: purple;
}
h2:hover{
  font-size: 20px;
  transition: font-size 1s;
}
table{
  text-align: center;
  margin: auto;
  background-color: khaki;
  border-radius: 10px;
}
li{
  padding: 10px;
}
#region{
  padding: 10px;
  width: 30%;
  border-radius: 20px;
}
#season{
  padding: 10px;
  width: 30%;
  border-radius: 20px;
}
th,tr,td{
  padding: 20px;
  border-radius: 10px;
}
select {
    width: 250px;
    padding: 10px;
    font-size: 15px;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select:hover{
  background-color: aqua;
  transition: background-color 1s;
}
footer{
    text-align: center;
    padding: 10px;
    position: relative;
    background-color: cornflowerblue;
    width: 90%;
    border-radius: 20px;
    justify-items: center;
    margin: auto;
}